<div class="container">
   <div class="row justify-content-center">
      <table class="table table-striped col">
         <thead>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
            <th class="col-1 text-center"><i class="fas fa-trash-alt"></i></th>
         </thead>
         <tbody>
            <% shortUrls.forEach(shortUrl=> { %>
               <tr>
                  <td><a href="<%= shortUrl.full %>">
                        <%= shortUrl.full %>
                     </a></td>
                  <td><a href="/<%= shortUrl.short %>">
                        <%= shortUrl.short %> </i>
                     </a><i class="fas fa-paste" id="clip_<%= shortUrl.short %>"></i></td>
                  <td>
                     <%= shortUrl.clicks %>
                  </td>
                  <td class="bg-danger col-1 text-center">
                     <a class="text-white" href="/<%= shortUrl.short %>/delete">
                        <i class="fas fa-trash-alt"></i>
                     </a>
                  </td>
               </tr>
               <% }) %>
         </tbody>
      </table>
   </div>
</div>
<script>
   const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
         toast.addEventListener('mouseenter', Swal.stopTimer)
         toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
   })
   $('[id^=clip_').css('cursor', 'pointer').on('click', (click) => {
      let clipboard = 'https://<%- host %>/' + click.currentTarget.id.split('_')[1]
      navigator.clipboard.writeText(clipboard);
      Toast.fire({ icon: 'success', title: 'Copied to clipboard' });
   })
</script>